@import 'normalize'
@import 'utilities'
@import 'typo'
@import '/routes/navbar'
@import '/routes/home'
@import '/routes/contact'


// Globals

body
  background-color: #002222
  color: #30be4b
  font-size: 16px
