@import 'normalize'

body
  background-color: #242f34
  color: #30be4b

main
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

canvas
  height:auto
  width: auto

#glcanvas
  position: absolute
  z-index: -1
  top: 0
  right: 0 


.title
  font-size: 2em
  text-align: center
